
@{
    ViewBag.Title = "Email_Verification";
    Layout = null;
}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>eStudiez / Verify Email</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <link href="~/image/logo.png" rel="icon">
        <link href="~/image/logo.png" rel="apple-touch-icon">
        <link href="~/Content/Bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="~/Content/Site.css" rel="stylesheet" />
    </head>

    <body onload="myfun()">
        <div id="loading"></div>
        <main>
            <div class="container">

                <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                                <div class="d-flex justify-content-center py-4">

                                    <span class="d-lg-block"><img class="img-fluid" height="300" width="300" src="~/image/eStudiezlogo.png" /></span>

                                </div>
                                <div class="card mb-3">

                                    <div class="card-body">

                                        <div class="pt-4 pb-2">
                                            <h5 class="card-title text-center pb-0 fs-4">Verify Your Email</h5>
                                            <p class="text-center small">Enter code sent to your Email</p>
                                        </div>

                                        @*<form method="post"  class="row g-3 needs-validation">*@
                                        @using (Html.BeginForm("Email_Verification", "Home", FormMethod.Post, new { @class = "row g-3 needs-validation" }))
                                        { 
                                            <div class="col-12">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="inputGroupPrepend2">eStudiez-</span>
                                                    <input type="number" class="form-control" id="validationDefaultUsername" name="code" required>
                                                </div>
                                            </div>


                                            <div class="col-12">


                                                <input type="submit" value="Verify Email" class="btn btn-primary w-100">

                                            </div>
                                        <div class="col-12 text-center">


                                                <h4 class="text-danger">@TempData["er11"]</h4>

                                            </div>

                                        }

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                </section>

            </div>


        </main>
        <!-- End #main -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="~/Scripts/JavaScript.js"></script>
        <script>

            document.querySelector("#title").innerHTML = " eStudiez / Email Verifiation";
        </script>
    </body>

</html>
